<div class='login-view'>
  <div class='headers'>
    <%= image_tag 'welcome/login.png', height: 50 %>
  </div>
  
  <div class='flash'>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>

  <div class='form-group'>
    <%= bootstrap_form_for :login do |f| %>
      <div>
        <%= f.email_field :email %>
      </div>
      <div>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.submit 'Log in' %>
      </div>
    <% end %>
  </div>
</div>