<br>
<%= image_tag("logos/pitchr-logo.png", height: 80, :class => "header-logo") %>
<div class='login-view'>
  <div class='headers'>
    <%= image_tag 'welcome/login.png', height: 40 %>
  </div>
  
  <hr>
  <!-- flash class currently has no styling 12/13/14 -->
  <div class='flash'>
    <!-- is this proper syntax for flash[:notice] view? -->
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>

  <div class="input">
    <%= bootstrap_form_for :login do |f| %>
      <%= f.email_field :email, label: "Email:" %>
      <%= f.password_field :password, label: "Password:" %>

      <%= f.submit 'Log in', :class => "login-btn" %>
    <% end %>
  </div>

  <p class="msg"><%= link_to "Not a member? Sign up here.", signup_path %></p>
</div>
<br>
<%= link_to "Cancel", root_path %>