<div class='login-view'>
  <div class='headers'>
    <%= image_tag 'welcome/login.png', height: 35 %> 
  </div>
  
  <hr>
  <div class='flash'>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>
  </div>

  <div class="input">
    <%= bootstrap_form_for :login do |f| %>
      <%= f.email_field :email, label: "Email:" %>
      <%= f.password_field :password, label: "Password:" %>

      <%= f.submit 'Log in', :class => "submit-btn" %>
    <% end %>
  </div>

  <p class="msg"><%= link_to "Not a member? Sign up here.", signup_path %></p>
</div>