<div class="form-group">
<%= image_tag 'welcome/login.png', height: 50 %>
<div class="flash">
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>
  <%= bootstrap_form_for :login do |f| %>
    <div>
      <%= f.email_field :email %>
    </div>
    <div>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit 'Log In' %>
    </div>
  <% end %>
</div>