
<div class='container-fluid'>
  <div class='form-group'>
    <% if logged_in? %>
      <%= bootstrap_form_for @pitch, :html => {:multipart => true} do |f| %>
        <%= f.text_field :title, label: "Title:" %>
        <%= f.text_area :description, label: "Description:" %>
        <%= f.file_field :image, label: "Upload a thumbnail:" %>

        <%= f.submit "Submit This Pitch" %>
        <%= link_to image_tag('models/cancel.png', height: 20), pitches_path, :id => 'cancel' %> 
      <% end %>
    <% end %>
  </div>
</div>