<% if logged_in? %>
  <%= bootstrap_form_for @pitch, :html => {:multipart => true} do |f| %>
    <div>
      <%= f.text_field :title, label: "Title:" %>
    </div>
    
    <div>
      <%= f.text_area :description, label: "Description:" %>
    </div>

    <div>
      <%= f.file_field :image, label: "Upload a thumbnail:" %>
    </div>

    <div>
      <%= f.submit "Submit This Pitch" %>
    </div>
  <% end %>

  <%= link_to "Cancel", pitches_path %>
<% end %>