<% if logged_in? %>

  <h1>Edit <%= @pitch.title %></h1>

  <%= bootstrap_form_for @pitch, :html => {:multipart => true} do |f| %>

    <div>
      <%= f.text_field :title, label: "Title:" %>
    </div>
    
    <div>
      <%= f.text_area :description, label: "Description: " %>
    </div>

    <div>
      <%= f.file_field :image, label: "Update your thumbnail:" %>
    </div>

    <div>
      <%= f.submit %>
    </div>
  <% end %>

<% end %>