<div class='container-fluid pitches'>
  <% if logged_in? %>
    <%= image_tag('nav/allpitches.png', height: 60) %>

    <%= link_to "Add a pitch", new_pitch_path %>
    
  <!-- filter all user pitches by keyword -->
  <%= form_tag("/pitches", method: "get") do %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Filter by Title") %>
  <% end %>

  <!-- display all user pitches -->
  <div id='masonry-container' class='transitions-enabled centered clearfix masonry'>
    
    <ul>
      <div>
        <% @pitches.each do |p| %>
          <li class='box panel panel-default'>
            <%= link_to (image_tag p.image.url(:small)), p %>
            <div class='panel-body'>
              <%= link_to p.title, p %>
            </div>
          </li>
        <% end %>
      </div>
    </ul>

  </div>

  <% else %>  
    <%= render 'shared/links' %>
  <% end %>
</div>


