<% if logged_in? %>
  <h1>All pitches</h1>
    <p>Logged in as: <%= current_user.name %></p>
    <span><%= link_to "View my profile", current_user %></span> <%= link_to 'Log Out', logout_path, method: :delete %>
    <br>

  <ul>
    <% @pitches.each do |p| %>
      <li>
        <%= link_to p.title, p %>
        <br>
        <%= image_tag p.image.url(:small) if p.image.url(:small).present? %>
      </li>
    <% end %>
  </ul>

  <% else %>
    <%= render 'users/form' %>
<% end %>
