<div class='container-fluid pitch-show'>
  <% if logged_in? %>
    <!-- currently pitch-info class has no styling -->
    <div class='pitch-info centered'>
      <h1><%= @pitch.title %></h1>
      <h5>Posted on <%= @pitch.date_published %> by <%= link_to @pitch.user.first_name, user_path(@pitch.user) %></h5>

      <%= image_tag @pitch.image.url(:large), :class => "img-responsive centered pitch-img" if @pitch.image.url(:large).present?%>

      <p class='pitch-descrip'><%= @pitch.description %></p>

    <!-- only allows pitch owner to edit or delete the pitch -->
    <% if pitch_owner %>
      <span id='pitch-edit'>
        <%= link_to image_tag('models/editpitch.png', height: 20), edit_pitch_path(@pitch) %>
      </span>
        <%= link_to image_tag('models/delete.png', height: 20), pitch_path(@pitch), method: :delete, data: {confirm: "Are you sure you want to delete #{@pitch.title}?"} %>
    <% end %>
    </div>

    <br>
    <div class='form-group'>
      <%= bootstrap_form_for [@pitch, @comment] do |f| %>
        <%= f.fields_for :commenter_attributes do |commenter_fields| %>
        <%= commenter_fields.text_field :name, label: "Name:" %>
        <%= commenter_fields.email_field :email %>
        <% end %>
        <%= f.text_area :body, label: "New Comment:" %>
        
        <%= f.submit "Add your comment!" %>

      <!-- display comments inside of form -->
      <h3>Comments</h3>
        <div class='test-comments centered'>
          <ul>
            <% @pitch.comments.each do |comment| %>   <li><%= comment.body %> -- <%= comment.commenter.try(:name) %> added: <%= comment.date_added %></li>
            <% end %>
          </ul>
      <% end %> 
    </div>
    
    <%= link_to "Back to pitches", pitches_path %>

  <% else %>
    <%= render 'shared/links' %>
  <% end %>
</div>