<h1>Edit your profile</h1>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.submit "Update me!" %>
  </div>
<% end %>

<br>
<%= link_to "Cancel", current_user %>