<% if logged_in? %>
  <h1>Edit your profile</h1>

  <%= bootstrap_form_for @user do |f| %>
    <div>
      <%= f.text_field :first_name, label: "First Name:" %>
    </div>

    <div>
      <%= f.text_field :middle_name, label: "Middle Name:" %>
    </div>

    <div>
      <%= f.text_field :last_name, label: "Last Name:" %>
    </div>

    <div>
      <%= f.email_field :email %>
    </div>

    <div>
      <%= f.text_field :company, label: "Company:" %>
    </div>

    <div>
      <%= f.text_area :about, label: "About Me:" %>
    </div>

    <div>
      <%= f.file_field :image, label: "Profile Photo: " %>
    </div>

    <div>
      <%= f.submit "Update me!" %>
    </div>
  <% end %>

  <br>
  <%= link_to "Cancel", pitches_path %>
<% end %>