<%= image_tag 'welcome/signup.png', height: 50 %>

<%= bootstrap_form_for @user do |f| %>
  <div>
    <%= f.text_field :first_name, label: "First Name:" %>
  </div>

  <div>
    <%= f.text_field :middle_name, label: "Middle Name (optional):" %>
  </div>

  <div>
    <%= f.text_field :last_name, label: "Last Name:" %>
  </div>
  
  <div>
    <%= f.text_field :company, label: "Company (optional):" %>
  </div>
  
  <div>
    <%= f.email_field :email %>
  </div>
  
  <div>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.password_field :password_confirmation, label: "Password Confirmation:" %>
  </div>
  
  <div>
    <%= f.submit "Sign me up!", class: 'btn btn-primary' %>
  </div>
<% end %>
