<%= image_tag("logos/pitchr-logo.png", height: 150, :class => "header-logo") %>
<div class='signup-view'>
  <div class='headers'>
    <%= image_tag 'welcome/signup.png', height: 40 %>
  </div>
  <hr>

  <div class="input">
    <%= bootstrap_form_for @user do |f| %>
      <%= f.text_field :first_name, label: "First Name:" %>
      <%= f.text_field :last_name, label: "Last Name:" %>
      <%= f.email_field :email %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation, label: "Password Confirmation:" %>
    
      <%= f.submit "Sign me up!", :class => "login-btn" %>
    <% end %> 
  </div>
</div>

<br>
<%= link_to "Cancel", root_path %>