<% if logged_in? %>
  <h1>More about <%= @user.first_name %></h1>

  <div role='presentation'><%= link_to "Edit my profile", edit_user_path(current_user) %></div>
  <%= image_tag @user.avatar.url(:thumb, height: 20)  %>
  <br> 
  <%= @user.about %>

  <div>
    <h4>My Pitches</h4>

      <div>
        <%= link_to "Add a new pitch", new_pitch_path %>
      </div>
      
    <ul>
      <% @user.pitches.each do |p| %>
        <li>
          <%= link_to p.title, p %>
          <br>
          <%= link_to (image_tag p.image.url(:small)), p %>
        </li>
      <% end %>
    </ul>
  </div>

<% else %>
  <%= render 'shared/links' %>
<% end %>