<nav class='navbar navbar-default navbar-fixed-bottom'>
  <div class='container-fluid'>
    <footer>
      <!-- about and contact links -->
      <div>
        <%= link_to image_tag('footer/about.png', height: 18), about_path %>
        <%= link_to image_tag('footer/contact.png', height: 18), contact_path %>
        <%= link_to image_tag('social/twitter.png', height: 18), 'http://twitter.com' %>
        <%= link_to image_tag('social/facebook.png', height: 18), 'http://facebook.com' %>
        <%= link_to image_tag('social/instagram.png', height: 18), 'http://instagram.com/pitchrapp' %>
      </div>
    </footer>
  </div>
</nav>