<div id='welcome'>
  <div class='row'>
    <h1 id='welcome'>Welcome to</h1>
    <%= image_tag 'logos/pitchr-welcome.png', width: '200px', class: 'img-responsive center-block' %>
  </div>

  <div class='row users'>
    <!-- log in link -->
    <h5 class='welcome-upcase'>Already a member?</h5>
    <%= link_to login_path do %>
    <%= image_tag 'welcome/login.png', height: 35 %> 
    <% end %>

      <!-- sign up link -->
    <h5 class='welcome-upcase'>Not a user yet?</h5>
    <%= link_to new_user_path do %>
    <%= image_tag 'welcome/signup.png', height: 35 %>
    <% end %>
  </div>
</div>