<nav class='navbar navbar-default fixed-top'>
  <div class='container-fluid navbar-header'>
    <ul class='nav nav-pills'>
      <li><%= link_to image_tag('nav/allusers.png', height: 25), users_path %></li>
      <li><%= link_to image_tag('nav/allpitches.png', height: 25), pitches_path %></li>
      <li><%= link_to image_tag('models/newpitch.png', height: 25), new_pitch_path %>
      <li><%= link_to image_tag('nav/myprofile.png', height: 25), current_user %></li>    
      <li><%= link_to image_tag('models/editmyprofile.png', height: 25), edit_user_path(current_user) %></li>
      <li><%= link_to image_tag('nav/logout.png', height: 25), logout_path, method: :delete %> </li>

      <!-- remove Delete user functionality later -->
      <li><%= link_to "(Delete user)", user_path(current_user), method: :delete, data: {confirm: "Are you sure you want to delete #{current_user.first_name}?"} %></li>
    </ul>
</nav>

<div id='logged-in-msg'>Logged in as: <%= current_user.first_name %>!</div> 
</div>