<!DOCTYPE html>
<html>
<head>
  <title>Pitcher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid row">
    <% if logged_in? %>
    <nav role='navigation'>
      <ul class='nav nav-tabs'>
        <li role='presentation'><%= link_to image_tag('nav/myprofile.png', height: 25), current_user %></li>
        <li role='presentation'><%= link_to image_tag('nav/pitches.png', height: 25), pitches_path %></li>
        <li role='presentation'><%= link_to image_tag('nav/logout.png', height: 25), logout_path, method: :delete %> </li>
        <!-- remove Delete user functionality later -->    
        <li role='presentation'><%= link_to "(Delete user)", user_path(current_user), method: :delete, data: {confirm: "Are you sure you want to delete #{current_user.first_name}?"} %></li>
      </ul>
    </nav>
       <p>Logged in as: <%= current_user.first_name %></p>
    <% end %>

    <%= yield %>

    <% if !logged_in? %>
      <%= render 'users/links' %>
    <% end %>
</div> 
  <footer class='row'>
    <%= link_to image_tag('nav/about.png', height: 20), about_path %>
    <%= link_to image_tag('nav/contact.png', height: 20), contact_path %>
  </footer>
</body>
</html>


