<!DOCTYPE html>
<html>
<head>
  <title>Pitcher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
    <span><%= link_to "View my profile", current_user %></span> 
    <span><%= link_to "Edit my profile", edit_user_path(current_user) %></span> 
    <span><%= link_to 'Log Out', logout_path, method: :delete %></span>  
    <!-- remove Delete user functionality later -->    
    <span><%= link_to "Delete user", user_path(current_user), method: :delete, data: {confirm: "Are you sure you want to delete #{current_user.first_name}?"} %></span>

    <p>Logged in as: <%= current_user.first_name %></p>
    <br>

  <% else %>
    <%= render 'users/form' %>
<% end %>

<%= yield %>

</body>
</html>
