<!DOCTYPE html>
<html>
<head>
  <title>pitchr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.ico' %>
</head>

<body>
  <div class='container-fluid'>
    <% if logged_in? %>
      <%= render 'shared/nav' %>
    <% end %>

    <!-- all views are rendered within div class 'main' -->
    <div class='main'>
      <%= yield %>
    </div>
  </div>
    <%= render 'shared/footer' %>
</body>
</html>


